<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
<!--     <div th:replace="fragments/header :: header-css"/> -->
<link rel="stylesheet" type="text/css"
              href="/bootstrap.min.css" />

<script type="text/javascript" language="javascript" src="fr.ekito.gwt.Gwt/fr.ekito.gwt.Gwt.nocache.js"></script>
</head>
<body>

<!-- <div th:replace="fragments/header :: header"/> -->

<div class="container" id="container">


</div>

<!-- <div th:replace="fragments/footer :: footer"/> -->

</body>
</html>